<?xml version="1.0" encoding="ISO-8859-1"?>
<odb name="jucse.neodatis" export-date-time="1385117026642" max-oid="20" file-format-version="9">
  <meta-model >
    <class id="1" name="MainSyllabus">
      <attribute id="1" name="name" type="java.lang.String"/>
      <attribute id="2" name="course_no" type="java.lang.String"/>
      <attribute id="3" name="credit" type="java.lang.String"/>
      <attribute id="4" name="semester" type="java.lang.String"/>
      <attribute id="5" name="syllabus" type="java.lang.String"/>
      <attribute id="6" name="reference" type="java.lang.String"/>
      <attribute id="7" name="version" type="int"/>
    </class>
    <class id="3" name="Subject">
      <attribute id="1" name="name" type="java.lang.String"/>
      <attribute id="2" name="course_no" type="java.lang.String"/>
      <attribute id="3" name="credit" type="java.lang.String"/>
      <attribute id="4" name="semester" type="java.lang.String"/>
      <attribute id="5" name="status" type="java.lang.String"/>
      <attribute id="6" name="reference" type="java.lang.String"/>
      <attribute id="7" name="last_version" type="int"/>
    </class>
    <class id="9" name="VersionSyllabus">
      <attribute id="1" name="name" type="java.lang.String"/>
      <attribute id="2" name="course_no" type="java.lang.String"/>
      <attribute id="3" name="credit" type="java.lang.String"/>
      <attribute id="4" name="semester" type="java.lang.String"/>
      <attribute id="5" name="syllabus" type="java.lang.String"/>
      <attribute id="6" name="reference" type="java.lang.String"/>
      <attribute id="7" name="version" type="int"/>
    </class>
  </meta-model>
  <objects >
    <object oid="2" class-id="1">
      <attribute id="1" name="name" value="q"/>
      <attribute id="2" name="course_no" value="w"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="syllabus" value="t"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="version" value="1"/>
    </object>
    <object oid="5" class-id="1">
      <attribute id="1" name="name" value="a"/>
      <attribute id="2" name="course_no" value="s"/>
      <attribute id="3" name="credit" value="d"/>
      <attribute id="4" name="semester" value="f"/>
      <attribute id="5" name="syllabus" value="g"/>
      <attribute id="6" name="reference" value="h"/>
      <attribute id="7" name="version" value="1"/>
    </object>
    <object oid="7" class-id="1">
      <attribute id="1" name="name" value="z"/>
      <attribute id="2" name="course_no" value="x"/>
      <attribute id="3" name="credit" value="c"/>
      <attribute id="4" name="semester" value="v"/>
      <attribute id="5" name="syllabus" value="b"/>
      <attribute id="6" name="reference" value="n"/>
      <attribute id="7" name="version" value="1"/>
    </object>
    <object oid="4" class-id="3">
      <attribute id="1" name="name" value="q"/>
      <attribute id="2" name="course_no" value="w"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="status" value="D"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="last_version" value="1"/>
    </object>
    <object oid="6" class-id="3">
      <attribute id="1" name="name" value="a"/>
      <attribute id="2" name="course_no" value="s"/>
      <attribute id="3" name="credit" value="d"/>
      <attribute id="4" name="semester" value="f"/>
      <attribute id="5" name="status" value="D"/>
      <attribute id="6" name="reference" value="h"/>
      <attribute id="7" name="last_version" value="1"/>
    </object>
    <object oid="8" class-id="3">
      <attribute id="1" name="name" value="z"/>
      <attribute id="2" name="course_no" value="x"/>
      <attribute id="3" name="credit" value="c"/>
      <attribute id="4" name="semester" value="v"/>
      <attribute id="5" name="status" value="D"/>
      <attribute id="6" name="reference" value="n"/>
      <attribute id="7" name="last_version" value="1"/>
    </object>
    <object oid="11" class-id="3">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="w"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="status" value="D"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="last_version" value="1"/>
    </object>
    <object oid="13" class-id="3">
      <attribute id="1" name="name" value="Physics"/>
      <attribute id="2" name="course_no" value="103"/>
      <attribute id="3" name="credit" value="3"/>
      <attribute id="4" name="semester" value="1"/>
      <attribute id="5" name="status" value="C"/>
      <attribute id="6" name="reference" value="r1"/>
      <attribute id="7" name="last_version" value="2"/>
    </object>
    <object oid="15" class-id="3">
      <attribute id="1" name="name" value="DLD"/>
      <attribute id="2" name="course_no" value="105"/>
      <attribute id="3" name="credit" value="3"/>
      <attribute id="4" name="semester" value="1"/>
      <attribute id="5" name="status" value="C"/>
      <attribute id="6" name="reference" value="r1"/>
      <attribute id="7" name="last_version" value="3"/>
    </object>
    <object oid="17" class-id="3">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="CSE_101"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="status" value="C"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="last_version" value="3"/>
    </object>
    <object oid="19" class-id="3">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="CSE_101"/>
      <attribute id="3" name="credit" value="2"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="status" value="C"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="last_version" value="2"/>
    </object>
    <object oid="10" class-id="9">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="w"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="syllabus" value="t"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="version" value="2"/>
    </object>
    <object oid="12" class-id="9">
      <attribute id="1" name="name" value="Physics"/>
      <attribute id="2" name="course_no" value="103"/>
      <attribute id="3" name="credit" value="3"/>
      <attribute id="4" name="semester" value="1"/>
      <attribute id="5" name="syllabus" value="s1"/>
      <attribute id="6" name="reference" value="r1"/>
      <attribute id="7" name="version" value="2"/>
    </object>
    <object oid="14" class-id="9">
      <attribute id="1" name="name" value="DLD"/>
      <attribute id="2" name="course_no" value="105"/>
      <attribute id="3" name="credit" value="3"/>
      <attribute id="4" name="semester" value="1"/>
      <attribute id="5" name="syllabus" value="s1"/>
      <attribute id="6" name="reference" value="r1"/>
      <attribute id="7" name="version" value="3"/>
    </object>
    <object oid="16" class-id="9">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="CSE_101"/>
      <attribute id="3" name="credit" value="e"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="syllabus" value="t"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="version" value="3"/>
    </object>
    <object oid="18" class-id="9">
      <attribute id="1" name="name" value="Math"/>
      <attribute id="2" name="course_no" value="CSE_101"/>
      <attribute id="3" name="credit" value="2"/>
      <attribute id="4" name="semester" value="r"/>
      <attribute id="5" name="syllabus" value="t"/>
      <attribute id="6" name="reference" value="y"/>
      <attribute id="7" name="version" value="2"/>
    </object>
  </objects>
</odb>